<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../assets/quiz1.png"><br>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Surname</ion-label>
      <ion-input [(ngModel)]="surname"></ion-input>
    </ion-item>
<ion-item>
  <ion-label>Email</ion-label>
  <ion-input [(ngModel)]="email"></ion-input></ion-item>
<ion-item>
  <ion-label>Password</ion-label>
  <ion-input [(ngModel)]="password"></ion-input>
</ion-item>

  <ion-button (click)="register()" routerLink='/login'>Save</ion-button>

</ion-content>
